<!DOCTYPE html>
<html>
  <head>
    <title>Kwrainbow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="container content-main">
		<!-- <nav class="navbar navbar-light" style="background-color: #b60000;">
		  <a class="navbar-brand" href="#">
		    <%= image_tag("rainbowkw-icon.png", :width => "30", :class => "navicon d-inline-block align-top", :alt =>"")%>

		    &nbsp;KW Rainbow Network
		  </a>
		</nav> -->

		<%= yield %>
	</div>
  </body>
</html>
